

/* STYLE: DEFAULT */
.pagestyle_default
{
	background-color: #eee;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e5e5e5));
	background: -webkit-linear-gradient(#eee, #e5e5e5);
	background: -moz-linear-gradient(#eee, #e5e5e5);
	background: -ms-linear-gradient(#eee, #e5e5e5);
	background: -o-linear-gradient(#eee, #e5e5e5);
	background: linear-gradient(#eee, #e5e5e5);
}
#editorcontainer.editorstyle_default
{
	color: #222;
	border: solid 1px #bbb;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-moz-box-shadow: 0px 0px 15px 5px #bbb;
	-webkit-box-shadow: 0px 0px 15px 5px #bbb;
	box-shadow: 0px 0px 15px 5px #bbb;
	
	background-color: #fff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#f5f5f5));
	background: -webkit-linear-gradient(#fff, #f5f5f5);
	background: -moz-linear-gradient(#fff, #f5f5f5);
	background: -ms-linear-gradient(#fff, #f5f5f5);
	background: -o-linear-gradient(#fff, #f5f5f5);
	background: linear-gradient(#fff, #f5f5f5);
}

/* STYLE: BLACKHOLE */
.pagestyle_blackhole
{

	background-color: #041215;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#041215), to(#000));
	background: -webkit-linear-gradient(#041215, #000);
	background: -moz-linear-gradient(#041215, #000);
	background: -ms-linear-gradient(#041215, #000);
	background: -o-linear-gradient(#041215, #000);
	background: linear-gradient(#041215, #000);
}
#editorcontainer.editorstyle_blackhole
{
	color: #c3f7ff;
	border: dotted 2px #69b;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	-moz-box-shadow: 0px 0px 25px 5px #275259;
	-webkit-box-shadow: 0px 0px 25px 5px #275259;
	box-shadow: 0px 0px 25px 5px #275259;
	
	background-color: #111;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#000), to(#111));
	background: -webkit-linear-gradient(#000, #111);
	background: -moz-linear-gradient(#000, #111);
	background: -ms-linear-gradient(#000, #111);
	background: -o-linear-gradient(#000, #111);
	background: linear-gradient(#000, #111);
}