
/* STYLE: DEFAULT */

.format_element
{
	opacity: 1;
	
	position: relative;
	z-index: 1;
	
	display: inline-block;
	width: 120px;

	background-color: white;
	border: solid 1px #bbb;
	
	margin-bottom: 3px;
	padding: 5px;

	color: #46767e;
	font-size: 14px;
	font-weight: bold;
	text-align: center;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-moz-box-shadow: 0px 0px 3px 1px #bbb;
	-webkit-box-shadow: 0px 0px 3px 1px #bbb;
	box-shadow: 0px 0px 3px 1px #bbb;

}
.format_active
{
	color: #fff;
	background-color: lime !important;
	border: solid 1px lime;

	-moz-box-shadow: 0px 0px 3px 1px #555;
	-webkit-box-shadow: 0px 0px 3px 1px #555;
	box-shadow: 0px 0px 3px 1px #555;

	text-shadow:
	-1px -1px 0 #666,
	1px -1px 0 #666,
	-1px 1px 0 #666,
	1px 1px 0 #666; 

	position: relative;
	top: -2px;
}

body.pagestyle
{
	background-color: #eee;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e5e5e5));
	background: -webkit-linear-gradient(#eee, #e5e5e5);
	background: -moz-linear-gradient(#eee, #e5e5e5);
	background: -ms-linear-gradient(#eee, #e5e5e5);
	background: -o-linear-gradient(#eee, #e5e5e5);
	background: linear-gradient(#eee, #e5e5e5);
}
#editorcontainer.editorstyle
{
	color: #222;
	border: solid 1px #bbb;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-moz-box-shadow: 0px 0px 15px 5px #bbb;
	-webkit-box-shadow: 0px 0px 15px 5px #bbb;
	box-shadow: 0px 0px 15px 5px #bbb;
	
	background-color: #fff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#f5f5f5));
	background: -webkit-linear-gradient(#fff, #f5f5f5);
	background: -moz-linear-gradient(#fff, #f5f5f5);
	background: -ms-linear-gradient(#fff, #f5f5f5);
	background: -o-linear-gradient(#fff, #f5f5f5);
	background: linear-gradient(#fff, #f5f5f5);
}
